<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Log in" %>
<% end %>



<h2>Seeded users</h2>
<p>
  <b>Email</b>: student1@test.com<br/>
  <b>Password</b>: test1234
</p>
<p>
  <b>Email</b>: student2@test.com<br/>
  <b>Password</b>: test1234
</p>
<p>
  <b>Email</b>: student3@test.com<br/>
  <b>Password</b>: test1234
</p>

<p>
  <b>Email</b>: instructor@test.com<br/>
  <b>Password</b>: test1234
</p>

<p>
  <b>Email</b>: guardian@test.com<br/>
  <b>Password</b>: test1234
</p>


