<%# needs local variable user %>
<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <% if instructor?(user) %><th>Student</th><% end %>
      <th>Score</th>
      <th>Date</th>
      <% if instructor?(user) %><th>Actions</th><% end %>
    </tr>
  </thead>

  <tbody>
    <% user.grades.each do |g| %>
      <tr>
        <td><%= g.assignment_id %></td>
        <% if instructor?(user) %>
          <td><%= g.student_id %></td>
        <% end %>
        <td><%= g.score %></td>
        <td><%= g.date %></td>
        <% if instructor?(user) %>
          <td>
            <%= link_to 'Edit', edit_assignment_path(g), class: 'edit' %>
            <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy'  %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
