<%# needs local variable user %>
<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Student</th>
      <th>Score</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% user.grades.each do |g| %>
      <tr>
        <td><%= g.assignment_id %></td>
        <td><%= g.student_id %></td>
        <td><%= g.score %></td>
        <td><%= g.date %></td>
        <td><%= link_to 'Edit', edit_assignment_path(g) if instructor?(user) %></td>
        <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } if instructor?(user)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
