<%# needs local variable user %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignment Date</th>
      <th><% if instructor? %>Average <% end %>Grade</th>
      <% if instructor? %><th>Actions</th><% end %>
    </tr>
  </thead>

  <tbody>
    <% user.assignments.each do |a| %>
      <tr>
        <td><%= link_to a.name, edit_assignment_path(a) %></td>
        <td><%= a.date %></td>
        <% if student? || guardian? %>
          <td>
            <%= user.grades.where(assignment_id: a.id).score %>
          </td>
        <% end %>
        <% if instructor? %>
          <td>
            <%= a.grades.average(:score) %>
          </td>
          <td>
            <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
