<% if instructor? %>
  <h1>Students</h1>
  <%= render 'list_students' %>
<% elsif student? %>
  <h1>Teachers</h1>
  <%= render 'list_instructors' %>
<% end %>

<% if instructor? || student? %>
  <h1>Assignments</h1>
  <%= render partial: 'list_assignments', locals: {user: @current_user} %>
<% end %>

<% if instructor? %>
  <h1>Grades</h1>
  <%= render partial: 'list_grades', locals: {user: @current_user} %>
<% end %>

<% if guardian? && @current_user.students.count > 0 %>
  <div class="cards">
    <% @current_user.students.each do |s| %>
      <div class="card">
        <div class="card-header">
          <h1><%= s.fullname %></h1>
        </div>
        <div class="card-copy">
          <h2>Assignments</h2>
          <%= render partial: 'list_assignments', locals: {user: s} %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
