<p id="notice"><%= notice %></p>


<h1>Dashboard</h1>
<p>Email: <%= @current_user.email %></p>
<p>Role: <%= @current_user.role %></p>

<% if @current_user.role == "instructor" ||
      @current_user.role == "guardian" %>
  <h1>Students</h1>
  <%= render 'list_students' %>
<% end %>

<% if @current_user.role == "student" %>
  <h1>Teachers</h1>
  <%= render 'list_instructors' %>
<% end %>
